extends ../layout.pug

block content
  main
    section
      .popup.popup--new-publication.popup--anti
        .new-publication
          - const id = article ? article.id : null;
          - const entrypoint = id ? `edit/${id}` : 'add';
          form(
            action=`/articles/${entrypoint}`
            method='POST'
            enctype="multipart/form-data"
            autocomplete="off"
          )
            input(type="hidden" name="_csrf" value=csrfToken)

            .new-publication__header
              -
                const title = id
                  ? 'Редактирование публикации'
                  : 'Новая публикация';
              h1 #{title}

              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    -
                      const createdAt =
                        (article && article.createdAt)
                          ? article.createdAt
                          : new Date().toISOString();
                    input#new-publication-date(
                      type='text'
                      name='createdAt'
                      value=createdAt)
                      
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
              | Закрыть
              | окно

            +insertErrorMessages(validationMessages)

            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(
                      type='text'
                      name='title'
                      placeholder='Заголовок'
                      value=article ? article.title : ''
                      required
                      autofocus)

                .form__field.form__field--post-image
                  label
                    -
                      const picture =
                        (article && article.picture && article.picture !== 'null')
                        ? article.picture
                        : '';
                    input#image-name-field(
                      type='text'
                      name='picture'
                      value=picture
                      placeholder='Фотография'
                      readonly)
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='picture')
                      | Обзор

                .new-publication__category-wrapper
                  each category in categories
                    .new-publication__checkbox.new-publication__checkbox--auto
                      -
                        const categoryId = category.id;
                        const checked = articleCategories
                          ? articleCategories.includes(categoryId)
                          : false;
                      input(
                          type='checkbox'
                          name=`category-${categoryId}`
                          id=`category-${categoryId}`
                          checked=checked
                        )
                      label(for=`category-${categoryId}`) #{category.name}
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию

              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(rows='5' name='announce' placeholder='Анонс публикации' required)
                      | #{article ? article.announce : ''}
                .form__field.form__field--publication-text
                  label
                    textarea(rows='10' name='description' placeholder='Полный текст публикации')
                      | #{article ? article.description : ''}
