extends ../layout.pug

block content
  main.articles-category
    h1 Бизнес

    include ../partials/categories.pug

    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articlesWithCategory
          li.preview__item
            include ../partials/article-breadcrumbs.pug

            .preview__background
              img.preview__background-image(src=`/img/${article.picture}`
                width='460'
                height='240'
                alt=article.title)
            time.preview__time(datetime=article.createdAt)
              +formatDate(article.createdAt)
            h3.preview__name
              a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
            p.preview__text #{article.description}

            if (article.comments)
              a.preview__comment(href='#')
                | Комментарии
                span.preview__cloud
                b.preview__comment-count 
                  | #{article.comments.length}
