extends ../layout.pug

block content
  main
    section
      .popup.popup--registration.popup--anti
        h1.popup__title Вход

        .popup__form.form.form--log-in
          form(action='/login' method='POST')
            input(type="hidden" name="_csrf" value=csrfToken)
            .form__field
              label
                input(
                  type='email'
                  name='email'
                  value=email
                  placeholder='Электронная почта'
                  required
                  autofocus)
            .form__field
              label
                input(
                  type='password'
                  name='password'
                  value=password
                  placeholder='Пароль'
                  required)

            if validationMessages
              each message in validationMessages
                p.form__error-message #{message}

            button(
              class={
                'form__submit-btn': true,
                'form__submit-btn--log-in': true,
                'button': true,
                'button--colored': true
              }
              type='submit'
            ) Войти
