extends ../layout.pug

block content
  main.main-page.main-page--padding
    - const TITLE = 'Комментарии';
    - const withComments = articles.some(article => article.comments.length);

    if (withComments)
      section.main-page__publication.publication
        h1.publication__title #{TITLE}
      
        ul.publication__list
          each article in articles
            each comment in article.comments
              li.publication__list-item
                form(
                  action=`/articles/${article.id}/comments/${comment.id}`
                  method='POST'
                )
                  header.publication__header
                    - const author = comment.users;
                    -
                      const authorAvatarPath = author && author.avatar
                        ? `/img/${author.avatar}`
                        : '';
                    img.avatar.publication__list-image(
                      src=authorAvatarPath width='20' height='20' alt='Аватар пользователя'
                    )
                    b.publication__list-name #{author.name} #{author.surname}
                    time.publication__item-time(datetime=article.createdAt)
                      +formatDate(article.createdAt)
                  a.publication__item-text(
                    href=`/articles/${article.id}`
                  ) #{article.title}
                  p.publication__text-strong #{comment.text}
                  button.publication__button.button.button--close-item(type='submit')
                    span.visually-hidden Удалить комментарий
    else
      h1.notes__title #{TITLE}
      div.main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
